<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71420908640-sajdh3v2k502atp25mqu1lse1dvbem8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71420908640-sajdh3v2k502atp25mqu1lse1dvbem8u</string>
	<key>API_KEY</key>
	<string>AIzaSyD1fKWuM6m8u3_wtwwRKEX4zXc_PWE2rXc</string>
	<key>GCM_SENDER_ID</key>
	<string>71420908640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-4fe43</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-4fe43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71420908640:ios:a719e90b0595db5d699f05</string>
</dict>
</plist>